<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <bean id="aerospikeTestingServlet" class="com.adara.newcache.servlet.AerospikeTestingServlet"
          init-method="init" destroy-method="destroy">
        <property name="aerospikeService" ref="aerospikeService"/>
    </bean>
<!--

    <bean id="memcacheTestingServlet" class="com.adara.newcache.servlet.MemcacheTestingServlet"
          init-method="init" destroy-method="destroy">
        <property name="cache" ref="userDataCacheMC"/>
    </bean>

    <bean id="throughputTestingServlet" class="com.adara.newcache.servlet.ThroughputTestingServlet"
          init-method="init" destroy-method="destroy">
        <property name="aerospikeService" ref="aerospikeService"/>
    </bean>
-->

    <bean id="aerospikeService" class="com.opinmind.ssc.cache.AerospikeServiceImpl"
          init-method="init" destroy-method="destroy">
      <!--  <property name="hostList">
        <list>
            <value>localhost:3000</value>
        </list>
        </property>-->
        <property name="hostList" value="qa1-aero1::40000,qa1-aero2::40000,qa1-aero3::40000"/>
     <!--<property name="hostList">-->
            <!--<list>-->
                <!--<value>qa1-aero1:3000</value>-->
                <!--<value>qa1-aero2:3000</value>-->
                <!--<value>qa1-aero3:3000</value>-->
            <!--</list>-->
        <!--</property>-->
    </bean>
<!--
    <bean id="userDataCacheMC" class="com.opinmind.ssc.cache.UserDataCacheFactory"
          factory-method="createUserDataCache" init-method="init"
          destroy-method="destroy" depends-on="spyMemcachedTimeoutInit">
        <constructor-arg ref="marketplaceLocalReadOnlyDataSource" /> &lt;!&ndash; Data source with cache table &ndash;&gt;
        <constructor-arg type="int" value="30" /> &lt;!&ndash; dpRefreshSeconds: how often to refresh dp info &ndash;&gt;
        <constructor-arg type="java.lang.String" value="UDC-QA1" /> &lt;!&ndash; cacheName( for table lookup ) &ndash;&gt;
        <constructor-arg type="int" value="5" /> &lt;!&ndash; user limit in completeKeyValues() &ndash;&gt;
    </bean>-->
<!--

    &lt;!&ndash; Bug 7427: override default Spy timeout &ndash;&gt;
    <bean id="spyMemcachedTimeoutInit"
          class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass">
            <value>com.opinmind.common.cache.SpyMemcached</value>
        </property>
        <property name="targetMethod">
            <value>setDefaultOperationTimeoutMs</value>
        </property>
        <property name="arguments">
            <list>
                <value>2000</value>
            </list>
        </property>
    </bean>
-->


    <!--

        <bean id="memcacheService" class="com.opinmind.ssc.cache.UserDataCacheImpl"
              init-method="init" destroy-method="destroy">
            <property name="partitions" ref="doSomethingService"/>
            <constructor-arg ref="marketplaceLocalReadOnlyDataSource" /> &lt;!&ndash; Data source with cache table &ndash;&gt;
            <constructor-arg type="int" value="${udc.dprefresh.seconds}" /> &lt;!&ndash; dpRefreshSeconds: how often to refresh dp info &ndash;&gt;
            <constructor-arg type="java.lang.String" value="${udc.cache.name}" /> &lt;!&ndash; cacheName( for table lookup ) &ndash;&gt;
            <constructor-arg type="int" value="5" /> &lt;!&ndash; user limit in completeKeyValues() &ndash;&gt;
        </bean>
    -->

<!--
    <bean id="marketplaceLocalReadOnlyDataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="username" value="om" />
        <property name="password" value="N3wQA3ra." />
        <property name="testOnBorrow" value="true" />
        <property name="validationQuery" value="SELECT 1" />
        <property name="url"
                  value="jdbc:mysql://qa-ssmdb/marketplace?connectTimeout=20000" />
        <property name="maxActive" value="5" />
        <property name="minIdle" value="1" />
    </bean>

-->



</beans>