<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="aeroServer1" class="java.lang.String">
        <constructor-arg value="localhost"/>
    </bean>

    <bean id="aeroServer2" class="java.lang.String">
        <constructor-arg value="localhost"/>
    </bean>

    <bean id="aeroServer3" class="java.lang.String">
        <constructor-arg value="localhost"/>
    </bean>

    <bean id="port" class="java.lang.Integer">
        <constructor-arg value="3000"/>
    </bean>

</beans>